<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RVU Bites"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RVUBites">

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.WelcomeActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SignupActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.FoodDetailsActivity" />
        <activity android:name=".activities.CartActivity" />
        <activity android:name=".activities.CheckoutActivity" />
        <activity android:name=".activities.OrdersActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.TrackOrderActivity" />

    </application>

</manifest>